<div>
  <h1>informacion del usuario</h1>

  <p>Nombre: {{user.name}}</p>
  <p>Apellido: {{user.lastName}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Email: {{user.email}}</p>
  <p>Telefono: {{user.phone}}</p>
  <p>nickname: {{user.nickname}}</p>

</div>